header {
    margin: 0;
    min-height: 30vh;
    color: #b1db3d;
    font-family: "Redressed", cursive;
    font-weight: 300;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-text {
    font-size: 9rem;
}

.title-text-clicked {
    font-size: 8rem;
}

.message {
    font-size: 1rem;
    color: grey;
}

.header-purple {
    color: purple;
}

.header-green {
    color: #b1db3d;
}